@mixin Header {
	text-align: center;
	margin-top: 5%;
		.Header-title h1{
			color: blue;
			font-size: 50px;
		}
		.list{
			display: flex;
			justify-content: column;

			.items{
				flex-basis: 300px;
				font-size: 35px;
				color: #cc3300;
			}
		}
}